/*body {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
}

header {
	margin: 0;
}

.date {
	width: auto;
    background-color: white;
    text-align: left;
}*/