body {
	height: 100vh;
	background-color: #F0F2F5;
	font-family: 'Montserrat', sans-serif;
	font-weight: 100;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
}

div {
	display: flex;
	align-items: center;
	height: 100%;
	margin: 0 100px;
}

header, footer {
	width: 35%;
	margin: 0;
}

h1 {
	color: #1298F6;
	font-weight: 100;
}

h2, h3, h4, h5 {
	font-weight: 100;
}

section {
	display: flex;
	flex-direction: column;
	width: 35%;
	background-color: white;
	padding: 15px 20px;
	border-radius: 10px;
	box-shadow: 0px 0px 2px gray;
}

section > input, button {
	margin: 10px 0;
	height: 40px;
	border-radius: 7px;
	border: 1px solid gray;
}

button {
	color: white;
	font-weight: bold;
	font-size: 20px;
}

button:nth-child(1), button:nth-child(3), #find {
	background-color: #1877F2;
}

button:nth-child(2), button:nth-child(4), button:nth-child(6), #back {
	background-color: #42B72A;
}
	
.date {
	width: auto;
    background-color: white;
    text-align: left;
}