.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  width: 100%;
  height: 250Px;
}

.row {
  justify-content: center; 
}

.book {
  margin: 25px 0;
}

header {
    padding: 30px 0;
    background: #343a40;
    color: #fff;
    text-align: center;
}

header h1 {
  display: inline;
  margin-left: 15px;
  font-weight: 300;
}

.searchDiv {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.searchDiv > * {
  margin: 0 5px;
  padding: 2px 10px;
}

button, select {
  background-color: #343a40;
  color: white;
  border: 0;
  border-radius: 4px;
}

p {
  margin-bottom: 0 !important;
}
