* {
	margin: 0;
	box-sizing: border-box;
	background-color: darkgray;
}

#sidebar {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(8, 1fr);
	grid-gap: 2px;
	float: left;
	height: 100vh;
	width: 20%;
	padding: 2px;
	margin-bottom: 1px;
}

#main {
	display: grid;
	grid-template-columns: repeat(60, 1fr);
	height: 100vh;
	padding: 5px 5px 2px 0;
}

#main > * {
	background-color: white;
	border-width: 0.1px;
	border-style: solid;
	border-color: lightgray;
	border-image: initial;
}

button {
	grid-column: 1 / 4;
	font-size: 11px;
	border-radius: 3px;
	padding: 5px;
	margin: 2.4px 1.2px;
	background-color: whitesmoke;
	cursor: pointer;
	border-width: 0.1px;
}

.colorSqaure {
	border: 0.1px solid black; 
}