.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #6B4DE9;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.all {
  background-color: #fff;
  height: 80%;
  width: 80%;
  border-radius: 35px;
  padding: 10px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  display: flex;
  padding: 10px 15px;
  color: #6B4DE9;
}

nav > * {
  padding: 5px 10px;
  border-radius: 7px;
}

nav > *:hover {
  background-color: rgb(243, 234, 255);
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

.home {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80%;
  padding: 0 15px;
}

.about {
  padding-right: 30px;
  text-align: left;
  min-width: 275px;
  max-width: 390px;
}

.homeHeader {
  color: #6B4DE9;
}

.projectsBtn {
  background-color: #6B4DE9;
  border: 0;
  border-radius: 25px;
  padding: 10px 20px;
  color: white;
}

.profileImg {
  border: 20px solid #6B4DE9;
  border-radius: 130px;
  height: 220px;
  width: 220px;
}

/*.contacts {
  position: absolute;
  bottom: 60px;
  right: 40%;
}*/

.contacts > * {
  margin: 0 10px;
  color: #6B4DE9;
}

.cards {
  display: flex;
  justify-content: space-around;
  /*flex-wrap: wrap;*/
  /*overflow-y: scroll;*/
  /*height: 88%;*/
}

.card {
  width: 180px;
  background-color: #F4F4F4;
  border: 9px solid #6B4DE9;
  border-radius: 10px;
  margin: 5px 0;
}

.projectImg {
  height: 100px;
  width: 180px;
}

.title {
  font-size: 20px;
  color: #6B4DE9;
}

.cardText {
  margin: 5px 0;
  color: black;
}