.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  text-align: center;
}

* {
  font-family: 'Montserrat', sans-serif;
}

body {
  background-image: url('../public/bg.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.all {
  background-color: rgba(255,255,255,0.1);
}

.nav {
  padding: 0 30px;
}

#brand {
  color: #AE206A;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 27px;
}

#services {
  background-color: white;
  color: gray;
  border: 0;
}

#services: hover {
  color: black;
}

.swLink, .itLink, .mechanicsLink {
  color: gray;
}

.allWithoutNav {

}

main, .about {
  position: relative;
  text-align: center;
}

.mainText {
  position: absolute;
  height: 55vh;
  right: 22vw;
  left: 22vw;
  top: 20vh;
  background-color: rgba(255,255,255, 0.4);
  border-radius: 15px;
  padding: 22px;
}

.mainHeader {
  font-size: 60px;
  margin-bottom: 35px;
  letter-spacing: 1.1vw;
}

.mainP {
  font-size: 22px;
}


.aboutText {
  position: absolute;
  right: 27vw;
  left: 27vw;
  top: 13vh;
  background-color: rgba(255,255,255, 0.4);
  border-radius: 10px;
  padding: 15px 15px 0 15px;
}

section {
  margin-bottom: 35px; 
}

.aboutHeader {
  margin: auto;
}

.positions {
  height: 91vh;
  width: 98vw;
}

.positionsBox {
  height: 100%;
  display: flex;
  align-content: space-evenly;
  justify-content: space-around;
  flex-wrap: wrap;
}

.positionCard {
  height: 150px;
  width: 33vw;
  min-width: 240px;
  background-color: rgba(255,255,255, 0.4);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.positionP {
  text-align: left;
  padding: 0 25px;
}

.contactList {
  height: 80vh;
  position: absolute;
  right: 32vw;
  left: 24vw;
  top: 15vh;
  bottom: 45px;
  background-color: rgba(255,255,255, 0.4);
  border-radius: 10px;
  padding: 15px 15px 0 20px;
  margin-bottom: 35px;
}

.contactDiv {
  display: flex;
  align-items: center;
  width: 50vw;
  margin: 45px 0;
  font-size: 30px;
}

i {
  background-image: url('../public/white.jpg');
  height: 28px;
  border-radius: 30px;
}

.linkedin {
  color: #0961B8;
}

.face {
  color: #1B74E4;
}

.email {
  color: #D34F43;
  height: 25px;
}

.twiter {
  color: #1DA1F2;
}

.contactP {
  margin: 0 0 0 35px;
}

.serviceHeader {
  letter-spacing: 0;
  font-size: 50px;
}

.serviceP {
  font-size: 25px;
}


@media all and (max-width: 480px) {

  .mainText, .aboutText {
    right: 10vw;
    left: 10vw;
  }

  .positionCard {
    max-height: 21vh;
  }

}